server:
  port: 5000

spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/your_database_name

  mail:
    host: smtp.gmail.com
    port: 587
    username: your_username
    password: your_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
