*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
        font-size: 1.2rem;
}

.container{
   height: 100vh;
   width: 100vw;
   background-color: whitesmoke; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.form-cont{
    height: 500px;
    width: 500px;
    border: 2px black solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    
}
button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.664);
    color: white;
    
}

button:hover{
    background-color: blue;
}

